Repository HamzaAmar/linkdin-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add set of icons
  src/components/icons/arrowCircleRight.tsx
  src/components/icons/arrowRight.tsx
  src/components/icons/backpack.tsx
  src/components/icons/building.tsx
  src/components/icons/calender.tsx
  src/components/icons/camera.tsx
  src/components/icons/certificate.tsx
  src/components/icons/chevronDown.tsx
  src/components/icons/creative.tsx
  src/components/icons/cross.tsx
  src/components/icons/dots.tsx
  src/components/icons/earth.tsx
  src/components/icons/face.tsx
  src/components/icons/file.tsx
  src/components/icons/grid.tsx
  src/components/icons/hash.tsx
  src/components/icons/home.tsx
  src/components/icons/icons.stories.mdx
  src/components/icons/index.ts
  src/components/icons/like.tsx
  src/components/icons/menu.tsx
  src/components/icons/message.tsx
  src/components/icons/money.tsx
  src/components/icons/newsPaper.tsx
  src/components/icons/notification.tsx
  src/components/icons/pencil.tsx
  src/components/icons/pencilPaper.tsx
  src/components/icons/picture.tsx
  src/components/icons/plus.tsx
  src/components/icons/question.tsx
  src/components/icons/search.tsx
  src/components/icons/send.tsx
  src/components/icons/settings.tsx
  src/components/icons/tag.tsx
  src/components/icons/target.tsx
  src/components/icons/technology.tsx
  src/components/icons/trash.tsx
  src/components/icons/users.tsx
  src/components/icons/youtube.tsx
Due: eslint --fix

feat: add color utilities
  src/scss/utilities/_color.scss
Due: none

feat: add center utility class
  src/scss/utilities/_circle.scss
Due: none

feat: alignement utilities class
  src/scss/utilities/_alignement.scss
Due: none

feat: add typography utilities
  src/scss/utilities/_font.scss
  src/scss/utilities/_index.scss
  src/scss/utilities/_text.scss
  src/scss/utilities/_truncate.scss
Due: none

feat: add center, radius and visually hidden utilities
  src/scss/utilities/_center.scss
  src/scss/utilities/_radius.scss
  src/scss/utilities/_visually-hidden.scss
Due: none

feat: add layout utilities
  src/scss/layouts/_auto-grid.scss
  src/scss/layouts/_center.scss
  src/scss/layouts/_cluster.scss
  src/scss/layouts/_flow.scss
  src/scss/layouts/_index.scss
Due: none

feat: add project theme
  src/scss/settings/_color.scss
  src/scss/settings/_ease.scss
  src/scss/settings/_font.scss
  src/scss/settings/_index.scss
  src/scss/settings/_layer.scss
  src/scss/settings/_radius.scss
  src/scss/settings/_shadow.scss
  src/scss/settings/_space.scss
Due: none

feat: add button components
  src/components/core/button/_button.scss
  src/components/core/button/button.tsx
  src/components/core/button/button.type.ts
  src/components/core/button/iconButton.tsx
  src/components/core/button/index.tsx
  src/components/core/button/stories/button.stories.tsx
  src/components/core/button/stories/iconButton.stories.tsx
Due: eslint --fix

feat: add avatar components
  src/components/core/avatar/_avatar.scss
  src/components/core/avatar/avatar.stories.tsx
  src/components/core/avatar/avatar.tsx
  src/components/core/avatar/avatar.type.ts
  src/components/core/avatar/index.tsx
Due: eslint --fix

feat: add badge components
  src/components/core/badge/_badge.scss
  src/components/core/badge/badge.stories.tsx
  src/components/core/badge/badge.tsx
  src/components/core/badge/badge.type.ts
  src/components/core/badge/index.ts
Due: eslint --fix

feat: add flex components
  src/components/core/flex/_flex.scss
  src/components/core/flex/flex.stories.tsx
  src/components/core/flex/flex.tsx
  src/components/core/flex/flex.type.ts
  src/components/core/flex/index.tsx
Due: eslint --fix

feat: add heading component core
  src/components/core/heading/_heading.scss
  src/components/core/heading/heading.stories.tsx
  src/components/core/heading/heading.tsx
  src/components/core/heading/heading.type.ts
  src/components/core/heading/index.ts
Due: eslint --fix

feat: add text component core
  src/components/core/text/_text.scss
  src/components/core/text/index.ts
  src/components/core/text/text.stories.tsx
  src/components/core/text/text.tsx
  src/components/core/text/text.type.ts
Due: eslint --fix

feat: add spinner component core
  src/components/core/spinner/_spinner.scss
  src/components/core/spinner/index.ts
  src/components/core/spinner/spinner.stories.tsx
  src/components/core/spinner/spinner.tsx
  src/components/core/spinner/spinner.type.ts
Due: eslint --fix

feat: add base style
  src/scss/bases/_forms.scss
  src/scss/bases/_index.scss
  src/scss/bases/_typography.scss
Due: none

feat: add box and change in center layout style
  src/scss/layouts/_box.scss
  src/scss/layouts/_center.scss
  src/scss/layouts/_index.scss
Due: none

feat: add component style
  src/scss/components/_articles.scss
  src/scss/components/_common.scss
  src/scss/components/_core.scss
  src/scss/components/_dialog.scss
  src/scss/components/_index.scss
  src/scss/components/_pages.scss
  src/scss/components/_sections.scss
  src/scss/components/_sidebar.scss
Due: none

feat: add flex utilities style and prefix align with u_
  src/scss/utilities/_alignement.scss
  src/scss/utilities/_color.scss
  src/scss/utilities/_flex.scss
  src/scss/utilities/_index.scss
  src/scss/utilities/_text.scss
Due: none

feat: add style to main css and add _reset
  src/scss/generics/_index.scss
  src/scss/generics/_reduce-animation.scss
  src/scss/generics/_reset.scss
  src/scss/main.scss
  src/scss/settings/_color.scss
Due: none

chore: add path alias to the project
  .storybook/main.js
  .storybook/preview.js
  config-overrides.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add assets to the project
  src/assets/images/svg/linkdin.svg
  src/assets/users/chloe-leblanc/rechard-leblanc.jpg
  src/assets/users/chris-lepain/chris-lepain.jpg
  src/assets/users/constants-ravis/constants-ravis.jpg
  src/assets/users/fadwa-lbib/fadwa-lbib.jpg
  src/assets/users/hamza-miloud-amar/hamza-miloud-amar.jfif
  src/assets/users/jesica-loma/jesica-loma.jpg
  src/assets/users/karima-rami/karima-rami.jpg
  src/assets/users/kent-robert/kent-robert.jpg
  src/assets/users/lol-me/lol-me.jpg
  src/assets/users/martin-terrin/martin-terrin.jpg
  src/assets/users/meki-lou/meki-lou.jpg
  src/assets/users/rechard-leblanc/rechard-leblanc.jpg
  src/assets/users/recheal-green/recheal-green.jpg
  src/assets/users/sami-vencent/sami-vencent.jpg
  src/assets/users/samir-lobby/samir-lobby.jpg
  src/assets/users/sara-lviv/sara-lviv.jpg
  src/assets/users/souad-khadiri/souad-khadiri.jpg
  src/assets/users/tom-kelly/tom-kelly.jpg
  src/assets/users/tom-roller/tom roller.jpg
  src/assets/users/xman-an/xman-an.jpg
Due: none

chore: add script to create components files
  createComponent.js
  scripts/createComponents.js
Due: eslint --fix

feat: add header component
  src/components/common/header/_header.scss
  src/components/common/header/header.data.tsx
  src/components/common/header/header.tsx
  src/components/common/header/header.type.ts
  src/components/common/header/index.ts
Due: eslint --fix

feat: add layout component
  src/components/common/layout/_layout.scss
  src/components/common/layout/index.ts
  src/components/common/layout/layout.tsx
  src/components/common/layout/layout.type.ts
Due: eslint --fix

feat: add messages component
  src/components/common/footer/_footer.scss
  src/components/common/footer/footer.tsx
  src/components/common/footer/index.ts
  src/components/common/header/header.tsx
  src/components/common/index.ts
  src/components/common/layout/layout.tsx
  src/components/common/messages/_message.scss
  src/components/common/messages/index.ts
  src/components/common/messages/message.type.ts
  src/components/common/messages/messages.tsx
Due: eslint --fix

feat: add invitation api
  src/api/invitation/index.ts
  src/api/invitation/invitation.data.ts
  src/api/invitation/invitation.test.ts
  src/api/invitation/invitation.type.ts
Due: eslint --fix

feat: add language api
  src/api/languages/index.ts
  src/api/languages/language.data.ts
  src/api/languages/language.type.ts
Due: eslint --fix

feat: add posts api
  src/api/posts/index.tsx
  src/api/posts/posts.data.ts
  src/api/posts/posts.type.ts
Due: eslint --fix

feat: add skills api section
  src/api/skills/index.ts
  src/api/skills/skill.type.ts
  src/api/skills/skills.data.ts
Due: eslint --fix

feat: add user api
  src/api/sleep.tsx
  src/api/users/index.ts
  src/api/users/user.test.ts
  src/api/users/users.data.ts
  src/api/users/users.type.ts
Due: eslint --fix

feat: add avatar core component
  src/components/core/avatar/_avatar.scss
  src/components/core/avatar/avatar-group.context.tsx
  src/components/core/avatar/avatar.stories.tsx
  src/components/core/avatar/avatar.tsx
  src/components/core/avatar/avatar.type.ts
  src/components/core/avatar/index.tsx
  src/components/core/avatar/stories/avatar.stories.tsx
  src/components/core/avatar/stories/avatarBadge.stories.tsx
  src/components/core/avatar/stories/avatarGroup.stories.tsx
Due: eslint --fix

feat: add Badge Core Component
  src/components/core/badge/_badge.scss
  src/components/core/badge/badge.stories.tsx
  src/components/core/badge/badge.type.ts
Due: eslint --fix

feat: add HoverCard Component
  src/components/articles/hoverCard/index.ts
  src/components/articles/hoverCard/like/index.ts
  src/components/articles/hoverCard/like/like.data.ts
  src/components/articles/hoverCard/like/like.stories.tsx
  src/components/articles/hoverCard/like/like.tsx
  src/components/articles/hoverCard/like/like.type.ts
Due: eslint --fix

feat: add Invitation Component
  src/components/articles/invitation/_invitation.scss
  src/components/articles/invitation/index.ts
  src/components/articles/invitation/invitation.stories.tsx
  src/components/articles/invitation/invitation.tsx
  src/components/articles/invitation/invitation.type.ts
Due: eslint --fix

feat: add Job Component
  src/components/articles/job/_job.scss
  src/components/articles/job/index.ts
  src/components/articles/job/job.stories.tsx
  src/components/articles/job/job.tsx
  src/components/articles/job/job.type.ts
Due: eslint --fix

feat: add MyCard Component
  src/components/articles/myCard/index.ts
  src/components/articles/myCard/my-card.scss
  src/components/articles/myCard/myCard.tsx
Due: eslint --fix

feat: add Notification Component
  src/components/articles/notification/_notification.scss
  src/components/articles/notification/index.ts
  src/components/articles/notification/notification.stories.tsx
  src/components/articles/notification/notification.tsx
  src/components/articles/notification/notification.type.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{tsx,ts,js}
  prettier --write: any of: *.{json,md,css}
